.snakemake/
.vscode/
.harpy_envs/
.condarc
.cache/
hpc/
QC/
Deconvolve/
Demultiplex/
Genome/
Align/
SNP/
SV/
Simulate/
Impute/
Preflight/
Phase/
Assembly/
samples.populations
*.fasta
*.bcf
genome.fasta
build/
harpy.egg-info/
__pycache__/
.Benchmark/
extractReads
_Inline