.snakemake/
.vscode/
harpyenvs/
Seqs/
QC/
Demultiplex/
Genome/
Align/
Variants/
Impute/
Preflight/
Phase/
samples.populations
*.fasta
*.bcf
genome.fasta
build/
src/harpy.egg-info
src/harpy/__pycache__
.Benchmark/