name: Test Demultiplex

on:
  push:
    branches:
      - 'dev'
    paths:
      - 'workflow/envs/harpy.yaml'
      - 'workflow/envs/qc.yaml'
      - 'workflow/rules/demultiplex**.smk'
      - '**demultiplex.py'
      - '**helperfunctions.py'
      - '**printfunctions.py'
      - '**fileparsers.py'
      - '**validations.py'
      - '**demuxGen1'
      - '**demux.yml'
      - 'BC_files.py'
      - 'test/data/demux/**'

  pull_request:
    branches:
    - 'dev'
    paths:
      - 'workflow/envs/harpy.yaml'
      - 'workflow/envs/qc.yaml'
      - 'workflow/rules/demultiplex**.smk'
      - '**helperfunctions.py'
      - '**printfunctions.py'
      - '**fileparsers.py'
      - '**validations.py'
      - '**demultiplex.py'
      - '**demuxGen1'
      - '**demux.yml'
      - 'BC_files.py'
      - 'test/data/demux/**'


env:
  CACHE_NUMBER: 0  # increase to reset cache manually

jobs:
  test_dmux_gen1:
    name: test demux gen1
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: setup mamba
        uses: mamba-org/setup-micromamba@v1
        with:
          init-shell: bash
          generate-run-shell: true
          environment-file: workflow/envs/harpy.yaml
          cache-environment: true
          post-cleanup: 'all'
      - name: Install harpy
        run: |
          python3 -m pip install --upgrade build && python3 -m build
          pip install dist/*.whl
          resources/buildforCI.sh
        shell: micromamba-shell {0}
      - name: harpy demultiplex
        run: harpy demultiplex gen1 --samplesheet test/demux/samples.schema test/demux/Undetermined_S0_L004_I1_001.fastq.gz
        shell: micromamba-shell {0}