name: Test Extras

on:
  push:
    branches:
      - 'dev'
    paths:
      - '**hpc.py'
      - '**stitchparams.py'
      - '**popgroup.py'
      - '**extras.yml'

  pull_request:
    branches:
      - 'dev'
    paths:
      - '**hpc.py'
      - '**stitchparams.py'
      - '**popgroup.py'
      - '**extras.yml'

env:
  CACHE_NUMBER: 0  # increase to reset cache manually

jobs:
  build:
    name: linux64
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: setup mamba
        uses: mamba-org/setup-micromamba@v1
        with:
          init-shell: bash
          generate-run-shell: true
          environment-file: workflow/envs/harpyenv.yaml
          cache-environment: true
          post-cleanup: 'all'
      - name: Install harpy
        run: |
          python3 -m pip install --upgrade build && python3 -m build
          pip install dist/*.whl
          resources/buildforCI.sh
        shell: micromamba-shell {0}

      - name: harpy popgroup
        run: harpy popgroup -d test/fastq
        shell: micromamba-shell {0}

      - name: harpy stitchparams
        run: harpy stitchparams -o params.file
        shell: micromamba-shell {0}

      - name: harpy hpc
        run: harpy hpc -o hpc.yml -s slurm
        shell: micromamba-shell {0}